@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #000000e0, #0f4820);
    box-sizing: border-box;
}
/* HEADER CSS */
.header{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.075);
}
.c-header{
    width: 33.333%;
}
.c-navigation{
    /* height: 100%; */
    padding: 30px;
    display: flex;
}
.c-navigation .i-hamburger{    
    color: #fff;
    width: 35px;
    height: 100%;
    margin-right: 10px;
}
.c-navigation .i-hamburger:hover{
    cursor: pointer;
}
.c-navigation .i-hamburger:hover .line-animate{
    width: 100%;
}
.c-navigation .i-hamburger hr{
    margin: 6px 0;
    border-bottom: 2px solid #fff;
}
.c-navigation .i-hamburger .line-animate{
    width: 50%;
    border-bottom: 2px solid #fff;
    transition: .3s ease-in;
}
.c-navigation p{
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    margin: 6px 0;
    transition: all .3s ease-in-out;
}
.c-navigation p:hover{
    cursor: pointer;
    border-bottom: 1px solid #fff;
    color: rgb(206, 206, 206);
}
.c-navigation p:hover .line-animate{
    width: 100%;
}
.c-logo{
    width: auto;
    height: 100%;
    text-align: center;
}
.c-logo h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #1f9743;
}
.c-logo h2 strong{
    font-size: 60px;
}
.c-logo h2 i{
    line-height: 80px;
    margin-left: 5px;
    color: #1ebd4e;
}
/* MAIN CSS */
.main{
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    list-style: none;
}
.c-img{
    position: relative;
    overflow: hidden;
    width: 33.333%;
    background-color: #000;
}
.o-img{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    transition: all .4s ease-in-out;
}
.link{
    height: 100%;
    text-decoration: none;
    color:#fff;
    background-color:transparent;
    transition: color .3s ease;
}
.text-content{
    position: relative;
    height: 100%;
    background-image: linear-gradient(180deg,rgba(56, 56, 56, 0) 25%,rgba(11, 24, 16, 0.767) 74%);
}

.o-text{
    position: absolute;
    padding: 0;
    bottom: 190px;
    left: 50px;
    max-width: 340px;
    height: auto;
}
.o-text h2{
    font-family: 'Playfair Display SC', serif;
    font-size: 3.125rem;
    color:#fff; 
    margin-bottom: 2.1875rem;
    transition: all .4s ease-in-out;    
}
.o-text hr{
    border-top: 2px solid #fff;    
    width: 3.4375rem;    
    position: relative;       
    transition: all .4s ease-in-out;    
    margin: 0 auto 1.875rem 0;
}
.text-content:hover h2{
    letter-spacing: 2px;
}
.text-content:hover hr{
    width: 100%;
}
.c-img:hover .o-img{
    transform: scale(1.2);
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: #1a1a1a;
}
.menu:hover ~ .header{
    background: #000;
}

/* TEMPLATE ABOUT */
#closeAbout{
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1000;
    color: #888888;
}
#closeAbout:hover{
    cursor: pointer;
    color: #fff;
}
.template{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    min-height: 100vh;
    background: #1a1a1a;
    box-sizing: border-box;
}
.template-about .content{
    height: 100vh;
    padding: 0 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}
.i-about h2{
    margin-bottom: 20px;
}
.i-about p{
    text-align: justify;
    margin-bottom: 30px;
}
